@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Varela+Round&display=swap');

body {
    color: #7D341D;
    background-color: #fbf7f5;
    margin: 0;
    font-family: sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.gridContainer h1 {
    text-align: center;
}

.natura {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    background-color: #fffdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin-top: 40px;
    margin-left: 15px;
    perspective: 9000px;
    box-shadow: 0px 0px 6px rgba(80, 80, 80, 0.992);
    transform-origin: bottom;
}

.card img {
    width: 100%;
}

/* Estilo para o botão */
.buy-button {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 25%;
    transform: translatey(-60%);
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
    color: #7D341D;
    margin-bottom: 25px;
    border: none;
    background-color: #E7B392;
}

.card:hover .buy-button {
    display: block;
}

.fas{
    font-size: 2em;
    margin: 30px 0 0 30px;
}

.voltar{
    background-color: transparent;
    border: none;
    color: #7D341D;
}

.voltar:hover{
    color: #E7B392;
    cursor: pointer;
    transition: color .8s ease-in-out;
}